<p-button (click)="showDialog()" icon="pi pi-plus"></p-button>
<p-dialog
  [draggable]="false"
  [modal]="true"
  styleClass="md:w-6 w-11"
  header="Nuevo Posteo"
  [(visible)]="visible"
>
  <form
    [formGroup]="todoForm"
    (ngSubmit)="submitForm()"
    class="p-fluid flex flex-column gap-2"
  >
    <!-- Campo para el título del to-do -->
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-book"></i>
      </span>
      <input pInputText placeholder="Título" formControlName="title" />
    </div>

    <!-- Dropdown para seleccionar el usuario asociado al to-do -->
    <p-dropdown
      appendTo="body"
      [options]="users"
      formControlName="user"
      optionLabel="name"
      placeholder="Usuario"
    ></p-dropdown>

    <!-- Botón para submit -->
    <div class="p-field submit">
      <button
        pButton
        type="submit"
        label="Crear Posteo"
        [disabled]="todoForm.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
