<div class="button-wrapper flex justify-content-center">
  <p-button
    (click)="showDialog()"
    icon="pi pi-fw pi-file-edit"
    class="small-button"
  ></p-button>
  <p-dialog
    [draggable]="false"
    [modal]="true"
    header="Editar Posteo"
    [(visible)]="visible"
    styleClass="md:w-6 w-11"
  >
    <form
      [formGroup]="albumForm"
      (ngSubmit)="submitForm()"
      class="p-fluid flex flex-column gap-2"
    >
      <!-- Campo para el ID -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-hashtag"></i>
        </span>
        <input pInputText placeholder="ID" formControlName="id" />
      </div>

      <!-- Campo para el Título -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-book"></i>
        </span>
        <input pInputText placeholder="Título" formControlName="title" />
      </div>

      <!-- Dropdown para seleccionar Usuario -->
      <p-dropdown
        appendTo="body"
        [options]="users"
        optionLabel="name"
        placeholder="Usuario"
        formControlName="user"
      ></p-dropdown>

      <!-- Botón para submit -->
      <div class="p-field submit">
        <button
          pButton
          type="submit"
          label="Crear Posteo"
          [disabled]="albumForm.invalid"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>
