<p-card>
  <h1 class="mb-1">Bienvenido</h1>
  <p class="mb-4">
    Mi nombre es <strong>Iago Charon</strong>, y completé este challenge como
    parte del proceso de aplicación a <strong>Eldar</strong>.
  </p>

  <h2 class="mb-1">Descripción del Proyecto</h2>
  <p class="mb-2">
    Esta aplicación web fue desarrollada utilizando <strong>Angular</strong> y
    la librería de componentes <strong>PrimeNG</strong>. El sistema implementa
    una autenticación simple, con un <strong>login</strong> y manejo de
    <strong>roles</strong>.
  </p>
  <p class="mb-4">
    Se incluye una <strong>guarda</strong> que protege rutas para usuarios no
    logueados, y se simula un sistema de autenticación con
    <strong>JWT</strong> mediante un interceptor.
  </p>

  <h3>Características</h3>
  <ul>
    <li>
      La aplicación obtiene todos los datos desde una API sugerida por la
      empresa, usada a modo de prueba.
    </li>
    <li>
      Se ha añadido <strong>paginación</strong>, <strong>filtrado</strong> y
      <strong>búsqueda</strong> en todas las tablas de datos.
    </li>
    <li>
      El sistema cuenta con <strong>notificaciones</strong> para todas las
      operaciones realizadas.
    </li>
  </ul>

  <h3 class="mb-1">Entidades del Sistema</h3>
  <p>
    El sistema está compuesto por varias entidades que se relacionan entre sí:
  </p>
  <ul>
    <li>Usuarios</li>
    <li>Posteos</li>
    <li>Comentarios</li>
    <li>Álbumes</li>
    <li>Fotos</li>
    <li>To-Do's</li>
  </ul>

  <p>
    Se trabajó en la implementación de un CRUD completo para estas entidades,
    respetando las relaciones entre ellas.
  </p>
</p-card>
