<p-table
  [value]="todos"
  [paginator]="true"
  [rows]="mobile ? 3 : 5"
  [tableStyle]="{ 'margin-bottom': '20px' }"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} todos"
  [showFirstLastIcon]="!mobile"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-xl" *ngIf="!mobile">ID</th>
      <th class="text-xl">Título</th>
      <th
        class="text-xl flex gap-2 justify-content-center align-items-center"
        *ngIf="isAdmin"
      >
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-todo>
    <tr>
      <td class="" *ngIf="!mobile">{{ todo.id }}</td>
      <td class="capitalize font-medium">
        <p-checkbox
          [disabled]="!isAdmin"
          [(ngModel)]="todo.completed"
          [binary]="true"
          inputId="binary"
          class="mr-2"
          (onChange)="onChange(todo)"
        ></p-checkbox
        >{{ todo.title }}
      </td>
      <td
        class="text-xl flex gap-2 justify-content-center md:flex-row flex-column"
        *ngIf="isAdmin"
      >
        <app-edit-todo [todo]="todo" [users]="users"></app-edit-todo>
        <div class="button-wrapper flex justify-content-center">
          <p-button
            (click)="deleteTodo($event, todo.id)"
            icon="pi pi-fw pi-trash"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
