<div *ngIf="users">
  <div class="flex justify-content-between mb-2 gap-2 md:flex-row flex-column">
    <div class="flex gap-2">
      <h2 class="text-4xl">Usuarios</h2>
      <app-new-user *ngIf="isAdmin"></app-new-user>
    </div>
    <div class="flex gap-2 flex-wrap md:flex-nowrap">
      <!-- Barra de búsqueda por título con autocompletado -->
      <span class="p-input-icon-left w-full search-full">
        <i class="pi pi-search"></i>
        <p-autoComplete
          styleClass="w-full"
          class="w-full"
          [(ngModel)]="searchQuery"
          [suggestions]="filteredSuggestions"
          (completeMethod)="searchUserSuggestions($event)"
          field="name"
          placeholder="Buscar por nombre"
          (onSelect)="filterUsersBySelected($event)"
        ></p-autoComplete>
      </span>

      <!-- Botón para limpiar los filtros -->
      <p-button
        *ngIf="!mobile"
        (click)="cleanFilters()"
        icon="pi pi-eraser"
      ></p-button>
    </div>
  </div>
  <p-table
    [value]="filteredUsers"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'margin-bottom': '20px' }"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
    [showFirstLastIcon]="!mobile"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- Encabezado de la tabla -->
        <th class="text-xl" *ngIf="!mobile">ID</th>
        <th class="text-xl md:w-8" *ngIf="!mobile">Nombre</th>
        <th class="text-xl md:w-4">Usuario</th>
        <th class="text-xl flex gap-2 justify-content-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <!-- Muestra el ID-->
        <td *ngIf="!mobile">{{ user.id }}</td>

        <!-- Muestra el nombre-->
        <td class="capitalize font-medium" *ngIf="!mobile">{{ user.name }}</td>

        <!-- Muestra el nombre de usuario -->
        <td>{{ user.username }}</td>

        <!-- Muestra las acciones disponibles para cada usuario-->
        <td class="text-xl flex gap-2 justify-content-center">
          <!-- Botón para abrir componente de ver usuarios-->
          <app-view-user [user]="user" [users]="users"></app-view-user>

          <!-- Botón para abrir componente de editar usuarios-->
          <app-edit-user [user]="user" *ngIf="isAdmin"></app-edit-user>

          <!-- Botón para eliminar usuarios-->
          <div *ngIf="isAdmin">
            <p-button
              (click)="deleteUser($event, user.id)"
              icon="pi pi-fw pi-trash"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
