<div class="button-wrapper flex justify-content-center">
  <p-button
    (click)="showDialog()"
    icon="pi pi-plus"
    label="Agregar Nueva Foto"
  ></p-button>
  <p-dialog
    [draggable]="false"
    [modal]="true"
    header="Nueva Foto"
    [(visible)]="visible"
    styleClass="md:w-6 w-11"
    style="min-width: 350px"
  >
    <form
      [formGroup]="postForm"
      (ngSubmit)="submitForm()"
      class="p-fluid flex flex-column gap-2"
    >
      <!-- Campo para el título de la foto -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-book"></i>
        </span>
        <input pInputText placeholder="Título" formControlName="title" />
      </div>

      <!-- Campo para subir la foto -->
      <div class="p-inputgroup flex justify-content-center w-full">
        <p-fileUpload
          mode="basic"
          chooseLabel="Subir Foto"
          class="w-full"
        ></p-fileUpload>
      </div>

      <!-- Botón para crear el posteo -->
      <div class="p-field submit mt-2">
        <button
          pButton
          type="submit"
          label="Crear Posteo"
          [disabled]="postForm.invalid"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>
