<div class="container px-5 py-3">
  <div class="main-wrapper">
    <div class="menu flex justify-content-between">
      <!-- Logo de la aplicación -->
      <div class="logo">
        <img height="50px" src="../../../assets/logo.png" alt="" />
      </div>
      <!-- Menú principal de navegación -->
      <p-menubar class="hidden md:block" [model]="mainMenu"></p-menubar>
      <!-- Botón para cerrar sesión -->
      <div class="hidden md:block">
        <p-button
          (click)="confirm($event)"
          icon="pi pi-sign-out"
          label="Cerrar Sesión"
        ></p-button>
      </div>
      <!-- Barra lateral que contiene el menú secundario -->
      <p-sidebar [(visible)]="sidebarVisible" position="right" *ngIf="mobile">
        <!-- Título del panel de la barra lateral -->
        <ng-template pTemplate="header"><h2>Menú Principal</h2></ng-template>

        <!-- Menú en panel de la barra lateral -->
        <ng-template pTemplate="content">
          <p-panelMenu
            [model]="mainMenu"
            (click)="toggleSidebar()"
          ></p-panelMenu>
        </ng-template>
        <!-- Botón para cerrar sesión en la barra lateral -->
        <ng-template pTemplate="footer">
          <div class="w-full">
            <p-button
              styleClass="w-full"
              (click)="confirm($event)"
              icon="pi pi-sign-out"
              label="Cerrar Sesión"
            ></p-button>
          </div>
        </ng-template>
      </p-sidebar>
      <!-- Botón para abrir la barra lateral en pantallas pequeñas -->
      <p-button icon="pi pi-bars" *ngIf="mobile" (click)="toggleSidebar()" />
    </div>
    <!-- Área de contenido donde se cargan las rutas -->
    <div class="content md:pt-5 pt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
