<div class="container" *ngIf="users && albums">
  <div class="flex justify-content-between mb-2 gap-2 md:flex-row flex-column">
    <div class="flex gap-2">
      <h2 class="text-4xl">Álbumes</h2>
      <app-new-album [users]="users" *ngIf="isAdmin"></app-new-album>
    </div>
    <div class="flex gap-2 flex-wrap md:flex-nowrap">
      <!-- Barra de búsqueda por título con autocompletado -->
      <span class="p-input-icon-left w-full search-full">
        <i class="pi pi-search"></i>
        <p-autoComplete
          styleClass="w-full"
          class="w-full"
          [(ngModel)]="searchQuery"
          [suggestions]="filteredSuggestions"
          (completeMethod)="searchAlbumSuggestions($event)"
          field="title"
          placeholder="Buscar por título"
          (onSelect)="filterAlbumsBySelected($event)"
        ></p-autoComplete>
      </span>

      <!-- Dropdown para filtrar los posts por usuario -->
      <p-dropdown
        [options]="users"
        optionLabel="name"
        [(ngModel)]="selectedUser"
        placeholder="Filtrar por usuario"
        (onChange)="filterAlbumsByUser()"
        class="md:block hidden"
      ></p-dropdown>
      <!-- Botón para limpiar los filtros -->
      <p-button
        (click)="cleanFilters()"
        icon="pi pi-eraser"
        class="md:block hidden"
      ></p-button>

      <!-- Filtro Movil (Para mejor alineacion) -->
      <div class="md:hidden block flex gap-2 w-full">
        <!-- Dropdown para filtrar los posts por usuario -->
        <p-dropdown
          [options]="users"
          optionLabel="name"
          [(ngModel)]="selectedUser"
          placeholder="Filtrar por usuario"
          (onChange)="filterAlbumsByUser()"
          class="w-full drop-full"
        ></p-dropdown>
        <!-- Botón para limpiar los filtros -->
        <p-button
          (click)="cleanFilters()"
          icon="pi pi-eraser"
          class=""
        ></p-button>
      </div>
    </div>
  </div>
  <p-table
    [value]="filteredAlbums"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'margin-bottom': '20px' }"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} álbums"
    [showFirstLastIcon]="!mobile"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- Encabezado de la tabla -->
        <th class="text-xl" *ngIf="!mobile">ID</th>
        <th class="text-xl md:w-8">Título</th>
        <th class="text-xl md:w-4" *ngIf="!mobile">Autor</th>
        <th
          class="text-xl flex gap-2 justify-content-center align-items-center"
        >
          Acciones
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-album>
      <tr>
        <!-- Muestra el ID del álbum -->
        <td class="" *ngIf="!mobile">{{ album.id }}</td>

        <!-- Muestra el título del álbum -->
        <td class="capitalize font-medium">{{ album.title }}</td>

        <!-- Muestra el nombre del autor -->
        <td class="capitalize font-medium" *ngIf="!mobile">
          {{ getUserNameById(album.userId) }}
        </td>

        <!-- Muestra las acciones disponibles para cada álbum -->
        <td
          class="text-xl flex gap-2 justify-content-center md:flex-row flex-column"
        >
          <!-- Botón para abrir componente de ver álbum -->
          <app-view-album [album]="album"></app-view-album>

          <!-- Botón para abrir componente de editar álbum -->
          <app-edit-album
            [album]="album"
            [users]="users"
            *ngIf="isAdmin"
          ></app-edit-album>

          <!-- Botón para eliminar álbum -->
          <div
            class="button-wrapper flex justify-content-center"
            *ngIf="isAdmin"
          >
            <p-button
              (click)="deleteAlbum($event, album.id)"
              icon="pi pi-fw pi-trash"
              class="small-button"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
